*.h5ad
*.ckpt
*.h5
*.pt
*.pkl
test_1111_train2.out
*.vcc
hepg2_pred_de.csv
hepg2_real_de.csv
*.torch
.nfs00000008768b0301000030f7
test_1123_train3.out
scripts/test_1123_train3.out
*.png
*.parquet
tahoe_plate2/tahoe100M_plate2_obs.csv
tahoe_single_target_scgptid_only_firstDMSO/csv/single_target_0001.csv
